body {
    width: 700px;
    margin: auto;
    padding: 10px;
}


.like img {
    width: 15px;
    height: 15px;
    float: left;
}



p {
    text-decoration: black;
    text-align: inherit;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: 1em sans-serif;
    float: left;
}

span {
    font-size: 60%;
    text-decoration-color: lightslategrey;

}

.eliot {
    float: left;
    width: 50px;
    height: 40px;
    margin: 20px 10px;

   

}

.helen {
    width: 50px;
    height: 40px;
    margin: 20px 10px;
    float: left;
   
}
.image img {
    width: 50 px;
    height: 50px;
    align-content: center;
}
.jenny {
    width: 50px;
    height: 40px;
    margin: 20px 10px;
    float: left;
}

.joe {
    width: 50px;
    height: 40px;
    margin: 20px 10px;
    float: left;
}